.home {
  .wrap {
    max-width: none;
    padding: 0;
  }
  .welcome {
    background-image: url('../images/welcome-pattern.svg'), radial-gradient(50% 150%, #efefef 50%, #d5d5d5 100%);
    background-size: 90%;
    background-position: center;
    background-repeat: repeat;
    overflow: hidden;
    height: 440px;
    margin-bottom: $base-margin * 4;
    @include mq($max-width: 375px) {
      height: 200px;
    }
    .container {
      max-width: 1280px;
      width: 100%;
      padding-left: $base-padding;
      padding-right: $base-padding;
      padding-top: $base-padding * 1.5;
      @extend .vertical-centering;
      .slider {
        position: relative;
        float: left; // padding: $base-padding;
        box-sizing: border-box;
        width: 50%;
        height: 400px;
        //margin-bottom: $base-margin * 4;
        @include mq($max-width: 375px) {
          height: 150px;
        }
      }
      .search-box {
        float: right;
        box-sizing: border-box;
        width: 49%;
        height: 350px;
        @include mq($max-width: 375px) {
          height: 150px;
        }
        padding: $base-padding; // border: $base-border;
        // border-color: rgba($brand-dark, .3);
        // background-color: rgba($brand-dark, .05);
        margin-bottom: $base-margin * 4;
        .container {
          @include vertical-align;
          img {
            width: 8rem;
            &.certified {
              width: 6rem;
              @include mq($max-width: 375px) {
                width: 3rem;
                top: 8rem;
                right: -1rem;
              }
              position: absolute; 
              top: -4rem;
              right: 1rem;
            }
            &.first-wave {
              margin-bottom: $base-margin * 1.5;
              margin-left: 5%;
            }
            &.second-wave {
              margin-left: 30%;
              margin-bottom: $base-margin * 1.5;
            }
          }
          h3 {
            margin-bottom: $base-margin;
            color: $brand-primary;
            font-size: $base-font-size * 1.7;
            padding-left: $base-padding * 2;
            margin-bottom: $base-margin * 2;
            line-height: .5;
            @include mq($max-width: 768px) {
              line-height: 1;
            }
            @include mq($max-width: 375px) {
              font-size: $base-font-size;
              padding-left: $base-padding;
              line-height: 1.2;
            }
            .first-line {
              padding-left: $base-padding * 2;
              display: block;
              padding-bottom: $base-padding;
              @include mq($max-width: 768px) {
                padding-bottom: 0; 
                padding-left: 0;
                display: inline;
              }
              @include mq($max-width: 375px) {
                padding-left: 0;
                display: inline;
              }
            }
          }
        }
      }
    }
  }
  .featured-products {
    clear: both;
    overflow: hidden;
    margin-bottom: $base-margin * 2;
    max-width: 1280px;
    padding: $base-padding;
    @extend .vertical-centering;
    h3 {
      margin-bottom: $base-margin * 2;
      padding-bottom: $base-padding * 2;
      text-align: center;
      color: rgba($brand-dark, .8);
    }
  }
}
