.main {
	article {
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
		header {
			margin-bottom: 42px;
			h4 {
				line-height: 50px;
			}
		}
		.entry-summary {
			p {

			}
			ul, ol {
				font-weight: 500;
				li {
					ul {
						font-size: 14px;
						margin-left: 26px;
						font-weight: 300;
						li {

						}
					}
				}
			}
		}
	}
}