.woocommerce-result-count {
  display: none;
  margin-right: $base-margin;
}

.woocommerce-ordering {
  display: none;
  float: right;
}

ul.products {
  clear: both;
  overflow: hidden;
  box-sizing: border-box;
  margin-bottom: $base-margin * 2;
  padding: $base-padding * 2 0 0;
  border: $base-border;
  border-right: $base-border;
  border-color: rgba($brand-dark, .2);
  li {
    // background: lightgreen;
    box-sizing: border-box;
    width: calc(100% / 3);
    @include mq($max-width: 768px) {
      width: calc(100% / 2);
    }
    margin-bottom: $base-margin * 2;
    float: left;
    display: inline-block;
    text-align: center;
    overflow: hidden;
    border-right: $base-border; // border-style: dashed;
    border-color: rgba($brand-dark, .2);
    @include mq($max-width: 768px) {
      &:nth-child(2n+2) {
        border-right: 0;
        clear: right;
      }
      &:nth-child(2n+1) {
        clear: both;
      }
    }
    &:nth-child(3n+3) {
      // float: right;
      // margin-right: 0;
      border-right: 0;
      clear: right;
      @include mq($max-width: 768px) {
        border-right: $base-border;
        border-color: rgba($brand-dark, .2);
      }
    }
    &:nth-child(6n+1) {
      clear: both;
    }
    &:last-child {
      border-right: 0;
    }
    h2 {
      font-size: $base-font-size;
      font-weight: $base-font-weight-light;
      color: $brand-dark;
      //margin-bottom: $base-margin;
      width: 70%;
      min-height: 48px;
      max-height: 48px;
      overflow: hidden;
      @extend .vertical-centering;
      &:hover {
        color: $brand-primary;
      }
    }
    .img-wrapper {
      height: 200px;
      img {
        @extend .vertical-centering;
        width: auto;
        //height: 80%;
        height: 90%;
        margin-bottom: $base-margin;
      }
    } // on sale badge
    .onsale {
      color: $brand-dark;
      background-color: $brand-secondary;
      border-radius: 2rem;
      position: absolute;
      padding: $base-padding / 2;
      font-size: $base-font-size - .2;
      font-weight: $base-font-weight-normal;
      margin-left: $base-margin;
      margin-top: $base-margin - 1.5;
      display: inline-block;
    }
    .price {
      display: inline-block;
      width: 70%;
      padding-bottom: $base-padding;
      padding-top: $base-padding;
      border-top: $base-border;
      border-bottom: $base-border;
      border-color: rgba($brand-dark, .2); // price old
      del {
        .amount {
          color: rgba($brand-dark, .5);
          font-size: $base-font-size - .1;
          text-decoration: line-through; // display: block;
        }
      } // price on special
      ins {
        text-decoration: none;
        .amount {
          color: $brand-pink;
        }
      }
      .amount {
        color: rgba($brand-dark, .8);
        font-size: $base-font-size * 1.2;
        display: inline-block;
      }
    }
    a.added_to_cart {
      color: $brand-primary;
      margin-top: $base-margin / 2;
      display: inline-block;
      &:hover {
        text-decoration: underline;
        color: darken($brand-primary, 10%);
      }
    }
    a.button {
      // width: 25px;
      // height: 35px;
      // font-size: $base-font-size * 2;
      width: 60%;
      opacity: 0;
      text-align: center;
      @extend .vertical-centering;
      i {
        margin-left: -4px;
        margin-top: 4px;
        display: block;
      }
      &.product_type_simple {
        background-color: $brand-gray;
        //background-color: $brand-primary;
        &:hover {
          //background-color: darken($brand-primary, 10%);
          background-color: $brand-primary;
        }
      }
      &.product_type_variable {
        background-color: $brand-violet;
        &:hover {
          background-color: darken($brand-violet, 10%);
        }
      }
    } // BTW this is li:hover
    &:hover {
      .price {
        border-bottom-color: transparent;
      }
      a.button {
        opacity: 1;
      }
    }
  }
}

.woocommerce-pagination {
  text-align: center;
  margin-bottom: $base-margin * 4;
  clear: both;
  ul.page-numbers {
    li {
      display: inline-block;
      span {
        @extend .button;
        color: $brand-primary;
        font-weight: $base-font-weight-bold;
      }
      a {
        color: $brand-dark;
        @extend .button;
        border: $base-border;
        border-color: rgba($brand-dark, .2);
        &:hover {
          background-color: rgba($brand-dark, .2);
        }
      }
    }
  }
}
