.useful-info {
  clear: both;
  overflow: hidden; 
  margin-bottom: $base-margin * 4;
  //max-width: 1280px; 
  padding: $base-padding;
  position: relative;
  // background-color: $brand-blue-sky;
  background-image: url('../images/banner.svg');
  background-size: cover; 
  display: inline-block;
  float: left; //width: calc(32%);
  width: 100%;
  margin-right: 2%;
  @include mq($max-width: 768px) {
    height: 130px;
  }
  @include mq($max-width: 375px) {
    display: block;
    float: none;
    width: 100%;
    margin-right: 0;
    margin-bottom: $base-margin;
  } // background: rgba($brand-dark, .1);
  height: 300px;
  box-sizing: border-box;
  overflow: hidden;
  text-align: center;
  img {
    max-width: 100%; // max-height: 100%;
  }
  &:last-child {
    float: right;
    margin-right: 0;
    background-image: url('../images/banner.svg');
    padding: 70px;
    @include mq($max-width: 768px) {
      padding: 15px;
    }
    p {
      color: $brand-white;
      line-height: 2.5rem;
      text-align: center;
      font-weight: 300; 
      display: block;
      margin-bottom: 16px;
      margin-top: 0 !important;
      font-size: 2rem;
      top: 50%;
      left: 50%;
      @include screen(320px, 768px) {
          font-size: 14px;
          line-height: 1.5rem;
          margin: 0.6rem 0;
      }
      img {
        width: 68px;
        display: block;
        margin-right: auto;
        margin-left: auto;
      }
    }
  }
  @extend .vertical-centering;
}
