// Vertical align mixin
@mixin vertical-align($position: relative) {
    position: $position;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
} 

// absolute centered
@mixin centerer($horizontal: true, $vertical: true) {
    position: absolute;
    @if ($horizontal and $vertical) {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    @else if ($horizontal) {
        left: 50%;
        transform: translate(-50%, 0);
    }
    @else if ($vertical) {
        top: 50%;
        transform: translate(0, -50%);
    }
}

// duration animation
@mixin duration($seconds: 2s) {
    -webkit-animation-duration: $seconds;
    -ms-animation-duration: $seconds;
    -moz-animation-duration: $seconds;
    -o-animation-duration: $seconds;
    animation-duration: $seconds;
}

// delay animation
@mixin delay($seconds: 2s) {
    -webkit-animation-delay: $seconds;
    -ms-animation-delay: $seconds;
    -moz-animation-delay: $seconds;
    -o-animation-delay: $seconds;
    animation-delay: $seconds;
}
