// Variables
// --------------------------


$icons8-css-prefix: "icons8";
$icons8-font-name: "Bambini";
$icons8-font-path: "../fonts";

$icons8-var-add-shopping-cart: "\f135";
$icons8-var-admin-settings-male: "\f172";
$icons8-var-administrator-male: "\f171";
$icons8-var-advertising: "\f157";
$icons8-var-atm: "\f177";
$icons8-var-auction: "\f145";
$icons8-var-bank-cards: "\f178";
$icons8-var-banknotes: "\f162";
$icons8-var-barcode: "\f148";
$icons8-var-best-seller: "\f15a";
$icons8-var-box: "\f149";
$icons8-var-buy-upgrade: "\f136";
$icons8-var-cash-register: "\f140";
$icons8-var-circled-female-user: "\f173";
$icons8-var-circled-female-user-2: "\f174";
$icons8-var-click---collect: "\f146";
$icons8-var-coins: "\f161";
$icons8-var-comments: "\f185";
$icons8-var-counter: "\f160";
$icons8-var-coupon: "\f159";
$icons8-var-delete: "\f163";
$icons8-var-delete-2: "\f165";
$icons8-var-delivery: "\f14a";
$icons8-var-discount: "\f158";
$icons8-var-facebook-like: "\f187";
$icons8-var-facebook-messenger: "\f183";
$icons8-var-free-shipping: "\f14b";
$icons8-var-gift: "\f155";
$icons8-var-gift-card: "\f15b";
$icons8-var-google-plus: "\f180";
$icons8-var-in-transit: "\f14d";
$icons8-var-instagram: "\f188";
$icons8-var-life-cycle: "\f175";
$icons8-var-life-cycle-female: "\f176";
$icons8-var-lightweight: "\f17d";
$icons8-var-like: "\f184";
$icons8-var-like-filled: "\f186";
$icons8-var-low-price: "\f13b";
$icons8-var-mastercard: "\f17a";
$icons8-var-money-bag: "\f14f";
$icons8-var-move-stock: "\f143";
$icons8-var-old-cash-register: "\f134";
$icons8-var-one-free: "\f156";
$icons8-var-online-money-transfer: "\f139";
$icons8-var-online-payment: "\f137";
$icons8-var-order-delivered: "\f15e";
$icons8-var-order-on-the-way: "\f15d";
$icons8-var-order-shipped: "\f15f";
$icons8-var-packaging: "\f152";
$icons8-var-paid: "\f13a";
$icons8-var-pay-wall: "\f141";
$icons8-var-paycheque: "\f138";
$icons8-var-paypal: "\f17b";
$icons8-var-pinterest: "\f181";
$icons8-var-plus: "\f167";
$icons8-var-pos-terminal: "\f13f";
$icons8-var-price-tag: "\f14e";
$icons8-var-puzzle: "\f170";
$icons8-var-qr-code: "\f147";
$icons8-var-receipt: "\f13c";
$icons8-var-remove-tag: "\f150";
$icons8-var-restart: "\f166";
$icons8-var-return-purchase: "\f13e";
$icons8-var-scan-stock: "\f142";
$icons8-var-search: "\f164";
$icons8-var-self-service-kiosk: "\f17e";
$icons8-var-services: "\f16e";
$icons8-var-settings: "\f16d";
$icons8-var-share: "\f169";
$icons8-var-share-2: "\f16a";
$icons8-var-share-3: "\f16b";
$icons8-var-shipped: "\f14c";
$icons8-var-shop: "\f133";
$icons8-var-shopping-basket-2: "\f144";
$icons8-var-shopping-cart: "\f132";
$icons8-var-souvenirs: "\f153";
$icons8-var-stationery: "\f154";
$icons8-var-stripe: "\f17c";
$icons8-var-support: "\f16f";
$icons8-var-synchronize: "\f16c";
$icons8-var-tags: "\f151";
$icons8-var-token-card-code: "\f13d";
$icons8-var-track-order: "\f15c";
$icons8-var-trash: "\f168";
$icons8-var-twitter: "\f17f";
$icons8-var-visa: "\f179";
$icons8-var-whatsapp: "\f182";
